:root {

  margin: 0 ;
  padding: 0;
  text-align: center;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e5fdfb;
}
.logo {
  width: 180px;
  text-align: left;
  margin: 0;
  padding: 0;
}
.menu{
  background-color: #000000 !important;
}

.iconoCart{
  color: white ;
  font-size: 1.3rem ;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
}
.contador{
  background-color: #5bc7ba;
  border-radius:60px;
  padding: 0 6px;
  margin: 0 2px;
  font-weight: 800;
  font-size: 0.8rem;
  color:white;
  margin-left: 5px;
  
}

.contCardProduct{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  
 
}

.cardProduct{
  margin: 20px 20px;
  padding: 10px;
  background-color: #5ecec135;
  border: 1px solid #5ecec135;
  border-radius: 3px;
  font-weight: 200;
}

.buttonCard {

  background-color: #3bbeae90 ;
  border: 1px solid #3bbeae90 ;
  
}

.productImage{
  width: 25rem;
}
.itemContainer{
  display: flex;
  justify-content: center;

}

.textItemContainer{
  width: 40%;
  padding-top: 60px;
  
}
.dropItem{
  color:white !important;
  text-decoration: none;
}
b{
  font-size: 1.5rem;
  color: #33a99ce9;
}




.contenedor_productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

.subcontenedor__carrito{
  display: flex;
  flex-wrap: wrap;
 
  margin: 10px 80px;
  padding: 15px;
  background-color: #5ecec135;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 200;
}



.img_carrito{
  width: 100px;
  border-radius: 15px;
}

.detalles{
  margin-left: 20px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  text-align: left;
}


.contenedor_carrito{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.boton_cambio{
  padding: 2px;
  background-color: #5bc7babf;
  border: none;
  border-radius:5px;
  font-size: 0.9rem;
  margin: 0 10px;
  width: 30px;
  height: 30px;
}

.boton_agregar{
  padding: 2px 6px;
  background-color: #5bc7babf;
  border: none;
  border-radius:15px;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 30px 0px;
 
}



.eliminar{
margin-left: 40px;
margin-bottom: 5px;
padding:0 5px;
background-color: #3dc0b1e3 ;
border: 1px solid #3bbeae90 ;
border-radius: 15px;

}

.cambio_cant{
  display: inline-flex;
  margin: 20px;

}
.total{
  font-weight: 600;
  font-size: 1.5rem;
}