:root {

  margin: 0 ;
  padding: 0;
  text-align: center;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e5fdfb;
}
.logo {
  width: 180px;
  text-align: left;
  margin: 0;
  padding: 0;
}
.menu{
  background-color: #000000 !important;
}

.iconoCart{
  color: white ;
  font-size: 1.3rem ;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
}
.contador{
  background-color: #5bc7ba;
  border-radius:60px;
  padding: 0 6px;
  margin: 0 2px;
  font-weight: 800;
  font-size: 0.8rem;
  color:white;
  margin-left: 5px;
  
}

.contCardProduct{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  
 
}

.cardProduct{
  margin: 20px 20px;
  padding: 10px;
  background-color: #5ecec135;
  border: 1px solid #5ecec135;
  border-radius: 3px;
  font-weight: 200;
}

.buttonCard {

  background-color: #3bbeae90 ;
  border: 1px solid #3bbeae90 ;
  
}

.productImage{
  width: 25rem;
}
.itemContainer{
  display: flex;
  justify-content: center;

}

.textItemContainer{
  width: 40%;
  padding-top: 60px;
  
}
.dropItem{
  color:white !important;
  text-decoration: none;
}
b{
  font-size: 1.5rem;
  color: #33a99ce9;
}